// Include any default variable overrides here (though functions won't be available)

@import "~bootstrap/scss/bootstrap";

// Then add additional custom code here
*{font-family: 'Roboto', sans-serif;}

#divTitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#titulo{
    font-size: 35px;
}
#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton{
    width: 450px;
    padding: 10px;  
    margin: 10px 10px 10px 10px;
}

#separador{
    height: 30px;
}

.botonCambioTema{
    margin-top: 20px;
    margin-left: 3px;
}